
.row{
    max-width: 100%;
    margin:0;
    padding:0;
}
.prodImg
{
    max-width:contain;
    height:100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}