/*.heading {
    text-align: center;
    margin-top: 50px;
}*/

/*:root {
    --p: 0;  Initialize the percentage 
}
*/
/*.light-yellow {
    --p: 25;*/ /* Set the percentage for this segment */
    /*background: conic-gradient( from 0deg, transparent var(--p)%, #f9e79f var(--p) 100% );
}*/
body{
    color:white;
}


.b-skills {
    border-top: 1px solid #f9f9f9;
    padding-top: 46px;
    text-align: center;
}

.b-skills:last-child {
    margin-bottom: -30px;
}

.b-skills h2 {
    margin-bottom: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.skill-item {
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-bottom: 30px;
    color: #555;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.skill-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.skill-item .chart:before,
.skill-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.skill-item .percent {
    position: relative;
    line-height: 1;
    font-size: 40px;
    font-weight: 900;
    z-index: 2;
}

.skill-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

p {
    font-weight: 900;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.pagination-container {
    font-family: "Satisfy", cursive;
    margin-top: 20px;
    text-align: center; /* Center the pagination */
}

    .pagination-container ul.pagination li a,
    .pagination-container ul.pagination li span, .filter-button {
        color: #ffffff; /* Text color */
        background-color: #BE9C79; /* Yellow background color */
        border: 1px solid #BE9C79; /* Darker yellow border */
        padding: 5px 10px; /* Padding */
        margin: 0 5px; /* Margin between items */
        border-radius: 4px; /* Rounded corners */
    }

        .pagination-container ul.pagination li.active span, .filter-button.active, .filter-button[disabled]:hover {
            background-color: black; /* Gray background for active page */
            border-color: #555555; /* Darker border for active page */
        }

.pagination-container ul.pagination li.disabled span,
.pagination-container ul.pagination li.disabled a {
    color: #aaaaaa; /* Disabled text color */
    background-color: #ffffff; /* Disabled background color */
    border-color: #dddddd; /* Disabled border color */
}

.pagination-container ul.pagination li a:hover, .filter-button:hover {
    background-color: #e0a21d; /* Darker yellow on hover */
}

.row {
    overflow: hidden;
}

#parView {
    text-align: left;
}

#ProFilters {
    font-family: "Satisfy", cursive;
}

.action:hover {
    background: darkgoldenrod;
}