@model Cafe_Site.ViewModels.ProductInfoViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@* <h2>Add Product</h2> *@

@* <h4>ProductInfoViewModel</h4> *@
@* <hr /> *@

<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>Admin Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="container-fluid text-center">
    <div class="row align-content-center justify-content-center align-items-center">
        <div class="col-md-4 col-lg-6">
            <form asp-action="Add">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*             <div class="form-group">
                <label asp-for="Product_Id" class="control-label"></label>
                <input asp-for="Product_Id" class="form-control" />
                <span asp-validation-for="Product_Id" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Product_Name" class="control-label"></label>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-asterisk text-danger"></i>
                    <input asp-for="Product_Name" class="form-control" placeholder="Please Enter The Product Name" />
                    <span asp-validation-for="Product_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product_Type" class="control-label"></label>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-asterisk text-danger"></i>
                    <input asp-for="Product_Type" class="form-control" placeholder="Please Enter The Product Type" hidden/>
                    <select id="pt" onchange="AssignType()" class="form-select" style="background-image: url(/images/broken_noise.png); background-repeat:repeat; color: white; font-size: larger; font-family: 'Satisfy', cursive;">
                        <option id="o1" value="none">--Select Product Type--</option>
                        <option id="o2" value="Hot Drinks">Hot Drinks</option>
                        <option id="o3" value="Cold Drinks">Cold Drinks</option>
                        <option id="o4" value="Deserts">Deserts</option>
                        <option id="o5" value="Pastry">Pastry</option>
                        <option id="o6" value="Add-Hot Drinks">Hot Drinks Additions</option>
                        <option id="o7" value="Add-Cold Drinks">Cold Drinks Additions</option>
                        <option id="o8" value="Add-Deserts">Deserts Additions</option>
                        <option id="o9" value="Add-Pastry">Pastry Additions</option>
                    </select>
                    <span asp-validation-for="Product_Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product_Image" class="control-label"></label>
                    <input asp-for="Product_Image" class="form-control" placeholder="Please Enter The Image Full Path" />
                    <span asp-validation-for="Product_Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product_Quantity" class="control-label"></label>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-asterisk text-danger"></i>
                    <input asp-for="Product_Quantity" class="form-control" placeholder="Please Enter The Product Quantity" />
                    <span asp-validation-for="Product_Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product_Description" class="control-label"></label>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-asterisk text-danger"></i>
                    <input asp-for="Product_Description" class="form-control" placeholder="Please Enter The Product Description" />
                    <span asp-validation-for="Product_Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SPrice" class="control-label"></label>
                    <input asp-for="SPrice" type="number" class="form-control" placeholder="Please Enter The Price For the Small Size of The Product" />
                    <span asp-validation-for="SPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MPrice" class="control-label"></label>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-asterisk text-danger"></i>
                    <input asp-for="MPrice" type="number" class="form-control" placeholder="Please Enter The Price For the Medium Size of The Product" />
                    <span asp-validation-for="MPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LPrice" class="control-label"></label>
                    <input asp-for="LPrice" type="number" class="form-control" placeholder="Please Enter The Price For the Large Size of The Product" />
                    <span asp-validation-for="LPrice" class="text-danger"></span>
                </div>
                @*             <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default px-5 fw-bolder bg-light" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function loaded(){
            let pt = document.getElementById("pt");

            pt.style.opacity = 0.5;

            let adminnbl = document.getElementById('adminlink');

            adminnbl.className = "active";
        }

        loaded();

        function AssignType() {
            let pt = document.getElementById("pt");

            let productType = document.getElementById("Product_Type");

            if (pt.value != "none") {
                productType.value = pt.value;

                pt.style.opacity = 1;

            } else {
                productType.value = null;

                pt.style.opacity = 0.5;

            }
        }
    </script>
}
