 @model Cafe_Site.ViewModels.ContactViewModels
@{
	ViewData["Title"] = "Contact";
}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tasty &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />



	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="~/css/animate.css">


	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="~/css/icomoon.css">


	<!-- Bootstrap  -->
	<link rel="stylesheet" href="~/css/bootstrap.css">



	<!-- Flexslider  -->
	<link rel="stylesheet" href="~/css/flexslider.css">



	<!-- Theme style  -->
	<link rel="stylesheet" href="~/css/style.css">



	<!-- Modernizr JS -->
	<script src="~/js/modernizr-2.6.2.min.js"></script>

</head>
<body>

	<div class="fh5co-loader"></div>


	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="index.html">Tasty<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="/Home">Home</a></li>
							<li><a href="/Menu">Menu</a></li>
							<li><a href="/Gallery">Gallery</a></li>
							<li class="active"><a href="/Contact/Contact">Contact</a></li>
							<li><a href="/About/About">About</a></li>
							@if (User.IsInRole("Admin"))
							{
								<li id="adminlink"><a href="/AdminDashboard/index">Admin Dashboard</a></li>
							}
							@if (User.IsInRole("Admin") || User.IsInRole("User"))
							{
								<li><a href="/Cart">Cart</a></li>
							}
							<partial name="_LoginPartial">
						</ul>
					</div>
				</div>
			</div>
		</nav>



		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">

			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<h1>Get <em>in</em> Touch</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<div id="fh5co-contact" class="fh5co-section animate-box">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Don't be shy, let's chat.</h2>
						<p>Join us for a delightful conversation over a delicious meal by reserving your table today. We can't wait to share laughter, stories, and fantastic food together!</p>
						<p><a href="mailto:info@yourdomainname.com" class="btn btn-primary btn-outline">Contact Us</a></p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
						<form asp-controller="Contact" asp-action="Contact" id="form-wrap" method="post" enctype="multipart/form-data">
							<div class="row form-group">
								<div class="col-md-12">
									<label for="name">Your Name</label>
									<input asp-for="Name" type="text" class="form-control">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<label for="email">Your Email</label>
									<input asp-for="Email" type="text" class="form-control">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<label for="message">Your Message</label>
									<textarea asp-for="Message" cols="30" rows="10" class="form-control"></textarea>
									<span asp-validation-for="Message" class="text-danger"></span>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Submit Form">
								</div>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>

		<!-- Start Modal Section -->

		<div class="modal fade" id="m1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Submit Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-dark" id="ModalText" style="color:black">Submit This Message?</div>
					<div class="modal-footer" id="mf">
						<button type="button" class="btn btn-secondary" style="background-color: gray; color:white" data-dismiss="modal">Cancel</button>
						<button type="button" id="ConfirmSubmit" class="btn btn-primary" style="color:white">Confirm</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal Section -->

		<!-- Start Modal 2 Section-->

		<div class="modal fade" id="m2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Message Info</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-dark" id="ModalText2" style="color:black">Message Sent, We Will Get Back To You Soon</div>
					<div class="modal-footer" id="mf2">
						<button type="button" class="btn btn-secondary" style="background-color: gray; color:white" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>

		<!-- End Modal 2 Section-->

		<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 fh5co-widget">
						<h4>Tasty</h4>
						<p>Explore our website to discover a world of culinary delights and exciting dining experiences. With easy navigation and user-friendly features, finding your favorite dishes and making reservations has never been simpler.</p>
					</div>
					<div class="col-md-2 col-md-push-1 fh5co-widget">
						<h4>Links</h4>
						<ul class="fh5co-footer-links">
							<li><a href="home">Home</a></li>
							<li><a href="/about/about">About</a></li>
							<li><a href="menu">Menu</a></li>
							<li><a href="gallery">Gallery</a></li>
						</ul>
					</div>

					<div class="col-md-2 col-md-push-1 fh5co-widget">
						<h4>Categories</h4>
						<ul class="fh5co-footer-links">
							<li><a href="/menu?filter=Hot%20Drinks">Hot Drinks</a></li>
							<li><a href="/menu?filter=Cold%20Drinks">Cold Drinks</a></li>
							<li><a href="/menu?filter=Deserts">Deserts</a></li>
							<li><a href="/menu?filter=Pastry">Pastry</a></li>
						</ul>
					</div>

					<div class="col-md-4 col-md-push-1 fh5co-widget">
						<h4>Contact Information</h4>
						<ul class="fh5co-footer-links">
							<li>198 West 21th Street, <br> ITI 721 Cairo CR 10016</li>
							<li><a href="tel://01234567891">+20 123 4567 891</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						</ul>
					</div>

				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">&copy; 2024 All Rights Reserved.</small>
						</p>
						<p>
							<ul class="fh5co-social-icons">
								<li><a href="#"><i class="icon-twitter2"></i></a></li>
								<li><a href="#"><i class="icon-facebook2"></i></a></li>
								<li><a href="#"><i class="icon-linkedin2"></i></a></li>
								<li><a href="#"><i class="icon-dribbble2"></i></a></li>
							</ul>
						</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="~/js/jquery.min.js"></script>


	<!-- jQuery Easing -->
	<script src="~/js/jquery.easing.1.3.js"></script>


	<!-- Bootstrap -->
	<script src="~/js/bootstrap.min.js"></script>


	<!-- Waypoints -->
	<script src="~/js/jquery.waypoints.min.js"></script>


	<!-- Waypoints -->
	<script src="~/js/jquery.stellar.min.js"></script>


	<!-- Flexslider -->
	<script src="~/js/jquery.flexslider-min.js"></script>


	<!-- Main -->
	<script src="~/js/main.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		$(document).ready(function () {

			let m = @Html.Raw(Json.Serialize(Model));

			console.log(m);

			if (m) {
				if (m.flag) {
					window.scrollTo(0, 0);

					document.getElementById("Name").value = "";
					document.getElementById("Email").value = "";
					document.getElementById("Message").value = "";

					document.getElementById("form-wrap").focus();

					setTimeout(() => document.getElementById("form-wrap").scrollIntoView({
						behavior: 'smooth',
						block: 'center'
					}) , 200);

					setTimeout(() => $('#m2').modal('show'), 1200);
					
				}
			}

			$('#form-wrap').submit(function (e) {
				e.preventDefault();
				if ($('#Name').val() != "" && $('#Email').val() != "" && $('#Message').val() != "") { 
					$('#m1').modal('show');
				}
			});


			$('#ConfirmSubmit').click(function () {
				$('#form-wrap').unbind('submit').submit();
			});
			

		});
	</script>


</body>
</html>

