
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/site.css" rel="stylesheet" >

   


    <div class="product-details p-3">
        <div class="col-md-6">
            <div class="row w-100">
                <div class="col">
                <img class="prodImg img-responsive" src="/images/coffee.jpg" alt="...">

                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center align-items-md-start ">
            <h1 class="name">Denim Jeans</h1>
            <h4 class="price"
                style="color: #3c547e;">
                234.5$
            </h4>
            <p class="description text-center text-md-start">Classic denim jeans with a comfortable fit.</p>
            <p class="brand fw-bolder">Brand: <span class="fw-light">FashionTrend</span></p>
            @* <p class="color fw-bolder">Color: <i class="fa fa-circle" style="color:rosybrown" aria-hidden="true"></i></p> *@
            <p class="size fw-bolder">Size: <span class="fw-light">XL</span></p>
            @* <p class="storage fw-bolder">Storage: <span class="fw-light">128GB</span></p> *@
            @* <p class="material fw-bolder">Material: <span class="fw-light">White Gold</span></p> *@


            <p class="desc_website text-center text-md-start">Our website is designed to make your shopping experience as smooth and enjoyable as possible. You can browse by category, color, size, or brand, and filter your search results to find exactly what you’re looking for. We offer free shipping on orders over a certain amount and easy returns if you’re not completely satisfied with your purchase.</p>

            <div class="row">
                <div class="col-12">
                    <button class="addToCard p-2 h-100 text-white border-0" style="background-color: #223659;">ADD TO CART</button>
                </div>
            </div>

        </div> 
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/all.js"></script>
    @* <script src="/js/site.js"></script> *@

